.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.incompleteg
{
    background-color: rgb(248, 233, 138);
}
.completeg
{
    background-color: rgb(6, 155, 128);
}
.formattaskname
{
    font-size: large;
}